@tailwind base;
@tailwind components;
@font-face {
  font-family: "Bahnschrift";
  src: url(../fonts/Bahnschrift.woff2) format("woff2");
}

@tailwind utilities;

html {
  @apply font-base box-border;
}


a {
  @apply no-underline;
  -webkit-tap-highlight-color: transparent;
}

*,
*::after,
*::before {
  @apply box-border
}

body {
  @apply overflow-x-hidden;
}
