body {
    height: 100vh;
}

.gradient-background {
    background: -webkit-linear-gradient(bottom left, #043927, #2e8B57);
}

.full-screen {
    height: 94%;
    width: 94%;
}

/*.footer {*/
/*    padding: 1vw;*/
/*    background: #fff;*/
/*    border-radius: 0.5rem;*/
/*    position: absolute;*/
/*    left: 2vh;*/
/*    bottom: 2vh;*/
/*    width: calc(100vw - 4vh);*/
/*    height: 6vh;*/
/*    display: flex;*/
/*}*/


.header {
    background: #fff;
    border-radius: 0.5rem;
    padding: 10px;
    overflow-x: auto;
    position: absolute;
    left: 2vh;
    top: 2vh;
    width: 15vw;
}

.borders {
    display: flex;
    padding: 3vh;
    background: #fff;
    position: absolute;
    left: calc(15vw + 4vh);
    top: 2vh;
    border-radius: 0.5rem;
    min-height: 96vh;
    max-height: 96vh;
    width: calc(100vw - calc(15vw + 4vh) * 2);
    overflow: auto;

}

.np {
    padding: 0 0 0 0;
}

a {
    text-decoration: none;
}