.img-near {
    display: inline-block;
    width: calc((100% - 1vh) / 2);
    height: calc((100% - 1vh) / 2);
}


.mycard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1vh;
    border: 3px solid #2e8B57;
    border-radius: 10px;
}
.mycard__images {
    display: flex;
    gap: 1vh;
    flex-wrap: wrap;
}

.mycard__images img {
    height: 5vh;
}


.line{
    display: block;
    width: 100%;
    height: 0.5vh;
    background-color: gray;
}